h1
{
    font-size: xx-large;
    font-weight: 350;
}
.heading
{
    width: 100%;
    line-height: 2;
    top: 0;
    background-color: white;
    margin-top: 0px;
}
body
{
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
p
{
    font-size: larger;
    font-weight: 280;
    text-decoration: italic goldenrod;
}
#score
{
    font-size: larger;
    font-weight: 280;
    text-decoration: italic goldenrod;
    margin-left: 2%;
}
#timer
{
    font-size: larger;
    font-weight: 280;
    text-decoration: italic goldenrod;
    margin-right: 2%;
}